
body {
  height: 100%;
  font-family: 'Lato', Helvetica sans-serif;
  font-weight: 500;
  text-align: center;
  color: #FFF;
  }

h1 {
  margin-top: 50px;
}


/* container */

.container-fluid {
    padding: 0px;
    margin-right: auto;
    margin-left: auto;
}

/* background */

.background {
  background-color: #2ecc71;
  background-size: cover;
  height: 100vh;
}

/* button */

.buttondiv {
  margin-top: 75px;
  text-align: center;
}

.btn {
  color: #27ae60;
  background-color: #27ae60;
  border-color: #27ae60;
  border-radius: 50px;
  border: 2px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 14px;
}

.buttontext {
  color: #fff;
}

.btn:hover {
    color: #27ae60;
    background-color: #27ae60;
    border-color: #27ae60;
    text-decoration: none;
}

/* quote */

.datasection {
  margin-left: 100px;
  margin-right: 100px;
}
.quote {
  font-size: 20px;
  margin-top: 120px;
  color: #FFF;
}

.authorpart {
  font-size: 14px;
  margin-top: 20px;
  color: #FFF;
}

/* twitter */

.tweetsection {
  margin-top: 120px;
  font-size: 18px;
  color: #FFF;
}

.tweetshow {
  display: none;
}

.tweettext {
  font-family: 'Lato', Helvetica sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #FFF;
}

.tweetbutton {
  color: #FFF;
}

/* media */

@media (max-width: 580px) {
  .background {
    background-color: #2ecc71;
    background-size: cover;
    height: 100vh;
  }
  .quote {
    font-size: 16px;
    margin-top: 80px;
    color: #FFF;
  }
  .authorpart {
    font-size: 13px;
    margin-top: 20px;
    color: #FFF;
  }
  .tweetsection {
    margin-top: 80px;
    font-size: 14px;
    color: #FFF;
  }
  .tweettext {
    font-family: 'Lato', Helvetica sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #FFF;
  }
}
